<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/css/style.css' />
  <title><%= title %></title>
</head>
<body>
 
    <td><a href="/users"> All Users Page</a></td>

    <ul >
  
      <!-- new html below -->
      <li>
        <% if (user) { %>
        <a href="/logout">
          <i ></i>Log Out</a>
        
        <% } else { %>
        <a href="/auth/google">
         <i></i>Login with Google</a
        >
        <% } %>
      </li>
    </ul>

  
  
  <main>
    <h1><%= title %></h1>