

<%- include('../partials/header') %>



<div class="padding">
    <form action="/exercises/<%= userId %>/" method="POST" class="spacing">
    <label class="spacing">Type Of Exercise:
        <input type="text" name="typeOfExercise" >
    </label><br>
    <label class="spacing">Date:
        <input type="date" name="date">

    </label><br>
    <label class="spacing">Sets:
        <input type="text" name="sets" >
    </label><br>
    <label class="spacing">Reps:
        <input type="text" name="reps" >
    </label><br>
    <label class="spacing">Weights:
        <input type="text" name="weight" >
    </label><br>
    <input type="submit" value="Add Exercise">    
   

    </form>
</div>
<img id="exerciseimage"src="/image/workOut.jpeg" alt="">
<%- include('../partials/footer') %>