<%- include('../partials/header') %>

<h2>Your Notes</h2>
<form id="add-A-Note" method="POST"
  action="/users/exercises">
  <label>Notes:</label>
  <textarea name="content"></textarea>
  <label>Notes:</label>
  
  <input type="submit" value="Add Note">
</form>





<%- include('../partials/footer') %> 