<%- include('../partials/header') %>


<ul >
  
  <!-- new html below -->
  <li>
    <% if (users) { %>
    <a href="/logout">
      <i >trending_flat</i>Log Out</a>
    
    <% } else { %>
    <a href="/auth/google">
     <i>vpn_key</i>Login with Google</a
    >
    <% } %>
  </li>
</ul>
    
<%- include('../partials/footer') %>